<!DOCTYPE html>
<html lang="en">
<head>
 <title>{% block title %}{% endblock %}</title>
 <!-- Latest compiled and minified Bootstrap CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css"/>
  <!-- Place your kit's code here -->
  <script src="https://kit.fontawesome.com/cc2b77ed37.js" crossorigin="anonymous"></script>
</head>
<body>
 <div class="container-fluid">
  {% block content %}{% endblock %}
 </div>
</body>
</html>
