body {
  text-align: center;
  align-items: center;
  justify-content: space-around;
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
}

.img-thumbnail {
  max-height: 100%;
  max-width: 100%;
}

a {
  color: #4292c6;
}

a:hover {
  color: #084594;
}

code{
  color: black;
}
